@model UserVM
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link rel="icon" href="~/img/favicon/fav.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/fav.png">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/js.cookie.js"></script>
    <script src="~/js/default.min.js"></script>
    <script src="~/js/apps.min.js"></script>
    <script src="~/js/jquery.gritter.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/form-plugins.demo.min.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
            console.log($().jquery); // This prints v1.4.2

        });
    </script>

    <script src="~/js/d3.min.js"></script>
    <script src="~/js/nv.d3.min.js"></script>
    <script src="~/js/jquery-jvectormap.min.js"></script>
    <script src="~/js/jquery-jvectormap-world-mill.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/dashboard-v3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53034621-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/css/defaults.css" rel="stylesheet" id="theme" />
    <link href="~/css/nv.d3.css" rel="stylesheet" id="theme" />
    <link href="~/css/jquery-jvectormap.css" rel="stylesheet" id="theme" />
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/orgchart.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.9/js/jquery.orgchart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/2.1.9/js/jquery.orgchart.min.js.map"></script>
    <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />

    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/js/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    <style>        .pace-progress { position:sticky!important;
        }
    </style>

</head>
<body>

    <div id="header" class="header navbar-inverse">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <a href="" class="navbar-brand">
                <span class=""><img src="~/img/logo.png"> </span>
            </a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul class="navbar-nav navbar-right">
            <li class="dropdown navbar-user">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/img/user-512.png" alt="" />
                    <span class="d-none d-md-inline">@Html.DisplayFor(model => model.UserInfo.UserName)</span> <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- <a href="javascript:;" class="dropdown-item">Edit Profile</a>
                    <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
                    <a href="javascript:;" class="dropdown-item">Calendar</a> -->
                    <div class="dropdown-divider"></div>
                    <a href="#" onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();" class="dropdown-item">
                        Logout
                    </a>
                    <form id="logout-form" action="/logout" method="get" style="display: none;">
                    </form>
                </div>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end #header -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <a href="javascript:;" data-toggle="nav-profile">
                        <div class="cover with-shadow"></div>
                        <div class="image">
                            <img src="~/img/user-512.png" alt="" />

                        </div>
                        <div class="info">
                            @Html.DisplayFor(model => model.Fullname_init)
                            <small>@Html.DisplayFor(model => model.UserInfo.UserName)</small>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            <ul class="nav">
                <li class="nav-header">Navigation</li>

                <li class="has-sub " style="border-bottom: 1px solid #46505a;
    border-top: 1px solid #46505a;">
                    <a onclick="location.href='@Url.Action("Index", "Admin")'">

                        <i class="fa fa-home"></i>
                        <span style ="cursor:pointer">Dashboard</span>
</a>

                    @*<a onclick="location.href='@Url.Action("Deposit", "Admin")'">

                <i class="fa fa-home"></i>
                <span>Deposit</span>
            </a>*@

                    <a onclick="location.href='@Url.Action("TradeCurrency", "Admin")'" >

                        <i class="fa fa-exchange-alt"></i>
                        <span style="cursor:pointer">Trade</span>
                    </a>
                    <a onclick="location.href='@Url.Action("Wallet", "Admin")'">

                        <i class="fa fa-wallet"></i>
                        <span  style ="cursor:pointer">Wallet Management</span>
                    </a>

                    <a onclick="location.href='@Url.Action("Ledger", "Admin")'">

                        <i class="fa fa-history"></i>
                        <span  style ="cursor:pointer">Ledger</span>
                    </a>

                    <a onclick="location.href='@Url.Action("Account", "Admin")'">


                        <i class="fa fa-cog"></i>
                        <span>Account</span>
                    </a>
                <li class="has-sub " style="border-bottom: 1px solid #46505a;
              border-top: 1px solid #46505a;">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <i class="fa fa-network-wired"></i>
                        <span>Group Network </span>
                    </a>
                    <ul class="sub-menu">
                        <li class=""><a onclick="location.href='@Url.Action("Map", "Admin")'" style ="cursor:pointer">Binary Map </a></li>
                        <li class=""><a onclick="location.href='@Url.Action("UniLevelMap", "Admin")'" style ="cursor:pointer">Uni-level Map </a></li>
                       

                    </ul>
                </li>
                <li class="has-sub " style="border-bottom: 1px solid #46505a;
              border-top: 1px solid #46505a;">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <i class="fa fa-file"></i>
                        <span>Files</span>
                    </a>
                    <ul class="sub-menu">
                        <li class=""><a onclick="location.href='@Url.Action("Members", "Admin")'" style ="cursor:pointer">Member List </a></li>
                        <li class=""><a onclick="location.href='@Url.Action("MemberRegistration", "Admin")'" style ="cursor:pointer">Member Registration </a></li>
                        <li class=""><a onclick="location.href='@Url.Action("Trade", "Admin")'" style ="cursor:pointer">Trade List </a></li>

                        <li class=""><a onclick="location.href='@Url.Action("Convert", "Admin")'" style ="cursor:pointer">Convert List </a></li>
                        @*<li class=""><a onclick="location.href='@Url.Action("Withdrawal", "Admin")'">Withdrawal List </a></li>*@
                        <li class=""><a onclick="location.href='@Url.Action("Close", "Admin")'" style ="cursor:pointer">Close </a></li>

                    </ul>
                </li>

            </ul>



                    <!-- end sidebar nav -->
</div>
        <!-- end sidebar scrollbar -->
    </div>

    <div class="sidebar-bg"></div>

    @RenderBody()
    @RenderSection("Scripts", required: false)





</body>
</html>






