
<aside class="sidebar" style="cursor:default">
    <div class="sidebar__close-btn">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="16" viewBox="0 0 15 16"><defs><path id="hy9fa" d="M294.49 17.58L307.92 31l-1.41 1.41L293.08 19z" /><path id="hy9fb" d="M293.08 31.01l13.43-13.43 1.41 1.41-13.43 13.43z" /></defs><g><g transform="translate(-293 -17)"><use fill="#fff" xlink:href="#hy9fa" /></g><g transform="translate(-293 -17)"><use fill="#fff" xlink:href="#hy9fb" /></g></g></svg>
    </div>

    <a href="#" class="logo">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="logo__img" src="~/img/logo.png" alt="" style="width: 70%; height: 100%;">
        <span class="logo__text"></span>
    </a>


    <ul class="menu" style="top: 160px;position: absolute;">

        </li>


        <li class="menu__item " style="border-bottom: 1px solid #46505a;
border-top: 1px solid #46505a; width: 100%;">
            <a class="menu__link" onclick="location.href='@Url.Action("Index", "Wallet")'">
                <span class="menu__link-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="15px" height="15px" viewBox="120.5 14.5 15 15" style="enable-background:new 120.5 14.5 15 15;" xml:space="preserve">

<path d="M133.921,18.447L123.658,14.5c-0.872,0-1.579,0.707-1.579,1.579v2.368
c-0.872,0-1.579,0.707-1.579,1.579v7.895c0,0.872,0.707,1.579,1.579,1.579h11.842c0.872,0,1.579-0.707,1.579-1.579v-7.895
C135.5,19.154,134.793,18.447,133.921,18.447z M123.657,17.088c0.001-0.436,0.354-0.789,0.79-0.788l5.526,2.146h-6.316V17.088z
M133.921,27.13c0,0.436-0.354,0.79-0.79,0.79h-10.263c-0.436-0.001-0.789-0.354-0.789-0.79v-6.315
c0-0.436,0.353-0.789,0.789-0.79h10.263c0.436,0,0.79,0.354,0.79,0.79V27.13z M124.842,23.183h-0.79
c-0.217,0.003-0.392,0.178-0.395,0.395v0.789c0.003,0.217,0.178,0.392,0.395,0.395h0.79v0.001
c0.217-0.003,0.393-0.179,0.395-0.396v-0.789C125.234,23.361,125.059,23.186,124.842,23.183z" />
</svg>
                </span>
                <span class="menu__link-text_2">
                    Wallet
                </span>
            </a>
        </li>
        @*<li class="menu__item " style="border-bottom: 1px solid #46505a;
border-top: 1px solid #46505a; width: 100%;">
            <a class="menu__link" onclick="location.href='@Url.Action("Index", "Transactions")'">
                <span class="menu__link-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="15.277px" height="12px" viewBox="18.361 16 15.277 12" style="enable-background:new 18.361 16 15.277 12;"
                         xml:space="preserve">
<path d="M27.858,19.159H20.79l2.003-2.003c0.264-0.264,0.264-0.694,0-0.958
c-0.262-0.263-0.692-0.264-0.956-0.002l-3.334,3.303c-0.091,0.091-0.142,0.211-0.142,0.34c0,0.129,0.05,0.25,0.141,0.341l3.3,3.3
c0.264,0.264,0.694,0.265,0.959,0c0.262-0.263,0.264-0.691,0.003-0.955l-1.98-2.005h7.075c2.437,0,4.42,1.983,4.42,4.42v2.38
c0,0.375,0.305,0.68,0.68,0.68c0.375,0,0.68-0.305,0.68-0.68v-2.38C33.639,21.752,31.045,19.159,27.858,19.159z" />
</svg>
                </span>
                <span class="menu__link-text_2">
                    Transaction
                </span>
            </a>
        </li>*@

        <li class="menu__item " style="border-bottom: 1px solid #46505a;
border-top: 1px solid #46505a; width: 100%;">
            <a class="menu__link" onclick="location.href='@Url.Action("History", "Trade")'">
                <span class="menu__link-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="13.5px" height="18px" viewBox="0 0 13.5 18" style="enable-background:new 0 0 13.5 18;" xml:space="preserve">
<path d="M10.5,4.5V3.75C10.5,1.679,8.821,0,6.75,0S3,1.679,3,3.75V4.5H0v11.25C0,16.993,1.007,18,2.25,18h9
c1.243,0,2.25-1.007,2.25-2.25V4.5H10.5z M4.5,3.75c0-1.243,1.007-2.25,2.25-2.25S9,2.507,9,3.75V4.5H4.5V3.75z M12,15.75
c0,0.414-0.336,0.75-0.75,0.75h-9c-0.414,0-0.75-0.336-0.75-0.75V6H12V15.75z" />

</svg>
                </span>
                <span class="menu__link-text_2">
                    WCCP History
                </span>
            </a>
        </li>

        <li class="menu__item " style="border-bottom: 1px solid #46505a;
border-top: 1px solid #46505a; width: 100%;">
            <a class="menu__link" onclick="location.href='@Url.Action("Index", "Trade")'">
                <span class="menu__link-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="13.5px" height="18px" viewBox="0 0 13.5 18" style="enable-background:new 0 0 13.5 18;" xml:space="preserve">
<path d="M10.5,4.5V3.75C10.5,1.679,8.821,0,6.75,0S3,1.679,3,3.75V4.5H0v11.25C0,16.993,1.007,18,2.25,18h9
c1.243,0,2.25-1.007,2.25-2.25V4.5H10.5z M4.5,3.75c0-1.243,1.007-2.25,2.25-2.25S9,2.507,9,3.75V4.5H4.5V3.75z M12,15.75
c0,0.414-0.336,0.75-0.75,0.75h-9c-0.414,0-0.75-0.336-0.75-0.75V6H12V15.75z" />
</svg>
                </span>
                <span class="menu__link-text_2">
                    WCC Packages
                </span>
            </a>
        </li>

        <li class="menu__item " style="border-bottom: 1px solid #46505a;
border-top: 1px solid #46505a; width: 100%;">
            <a class="menu__link" onclick="location.href='@Url.Action("Index", "Convert")'">
                <span class="menu__link-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="15.277px" height="12px" viewBox="18.361 16 15.277 12" style="enable-background:new 18.361 16 15.277 12;"
                         xml:space="preserve">
<path d="M27.858,19.159H20.79l2.003-2.003c0.264-0.264,0.264-0.694,0-0.958
c-0.262-0.263-0.692-0.264-0.956-0.002l-3.334,3.303c-0.091,0.091-0.142,0.211-0.142,0.34c0,0.129,0.05,0.25,0.141,0.341l3.3,3.3
c0.264,0.264,0.694,0.265,0.959,0c0.262-0.263,0.264-0.691,0.003-0.955l-1.98-2.005h7.075c2.437,0,4.42,1.983,4.42,4.42v2.38
c0,0.375,0.305,0.68,0.68,0.68c0.375,0,0.68-0.305,0.68-0.68v-2.38C33.639,21.752,31.045,19.159,27.858,19.159z" />


</svg>
                </span>
                <span class="menu__link-text_2">
                    WCCP Convert
                </span>
            </a>
        </li>

        <li class="menu__item " style="border-bottom: 1px solid #46505a;
border-top: 1px solid #46505a; width: 100%;">
            <a class="menu__link" onclick="location.href='@Url.Action("Index", "Genealogy")'">
                <span class="menu__link-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="15.277px" height="12px" viewBox="18.361 16 15.277 12" style="enable-background:new 18.361 16 15.277 12;"
                         xml:space="preserve">
<path d="M27.858,19.159H20.79l2.003-2.003c0.264-0.264,0.264-0.694,0-0.958
c-0.262-0.263-0.692-0.264-0.956-0.002l-3.334,3.303c-0.091,0.091-0.142,0.211-0.142,0.34c0,0.129,0.05,0.25,0.141,0.341l3.3,3.3
c0.264,0.264,0.694,0.265,0.959,0c0.262-0.263,0.264-0.691,0.003-0.955l-1.98-2.005h7.075c2.437,0,4.42,1.983,4.42,4.42v2.38
c0,0.375,0.305,0.68,0.68,0.68c0.375,0,0.68-0.305,0.68-0.68v-2.38C33.639,21.752,31.045,19.159,27.858,19.159z" />



</svg>
                </span>
                <span class="menu__link-text_2">
                    Group Network
                </span>
            </a>
        </li>

        <li class="menu__item " style="border-bottom: 1px solid #46505a;
border-top: 1px solid #46505a; width: 100%;">
            <a class="menu__link" onclick="location.href='@Url.Action("Index", "Settings")'">
                <span class="menu__link-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="18px" height="18px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
<path d="M9,6C7.343,6,6,7.343,6,9c0,1.657,1.343,3,3,3c1.657,0,3-1.343,3-3C12,7.343,10.657,6,9,6z M9,10.5
c-0.828,0-1.5-0.672-1.5-1.5S8.172,7.5,9,7.5s1.5,0.672,1.5,1.5S9.828,10.5,9,10.5z M15.75,6.75h-1.32l0.93-0.93
c0.847-0.909,0.797-2.333-0.112-3.18c-0.864-0.805-2.203-0.805-3.068,0l-0.93,0.93V2.25C11.25,1.007,10.243,0,9,0
C7.757,0,6.75,1.007,6.75,2.25v1.32L5.82,2.625C4.911,1.778,3.487,1.828,2.64,2.737c-0.805,0.864-0.805,2.203,0,3.068l0.93,0.93
H2.25C1.007,6.735,0,7.742,0,8.985c0,1.243,1.007,2.25,2.25,2.25h1.32L2.625,12.18c-0.847,0.909-0.797,2.333,0.112,3.18
c0.864,0.805,2.203,0.805,3.068,0l0.93-0.93v1.32c0,1.243,1.007,2.25,2.25,2.25c1.243,0,2.25-1.007,2.25-2.25v-1.32l0.93,0.93
c0.909,0.847,2.333,0.797,3.18-0.112c0.805-0.864,0.805-2.203,0-3.068l-0.93-0.93h1.32c1.243,0.008,2.257-0.992,2.265-2.235V9
C18,7.757,16.993,6.75,15.75,6.75z M15.75,9.75h-1.56c-0.125,0.868-0.465,1.69-0.99,2.393l1.102,1.102
c0.269,0.315,0.233,0.788-0.082,1.057c-0.281,0.241-0.695,0.241-0.976,0L12.142,13.2c-0.702,0.525-1.525,0.865-2.393,0.99v1.56
c0,0.414-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75v-1.56c-0.868-0.125-1.69-0.465-2.393-0.99l-1.102,1.102
c-0.315,0.269-0.788,0.233-1.057-0.082c-0.241-0.281-0.241-0.695,0-0.976l1.102-1.102c-0.525-0.702-0.865-1.525-0.99-2.393h-1.56
c-0.414,0-0.75-0.336-0.75-0.75s0.336-0.75,0.75-0.75h1.56c0.125-0.868,0.465-1.69,0.99-2.393L3.697,4.754
C3.428,4.439,3.464,3.966,3.779,3.697c0.281-0.241,0.695-0.241,0.976,0l1.102,1.102c0.702-0.525,1.525-0.865,2.393-0.99v-1.56
c0-0.414,0.336-0.75,0.75-0.75s0.75,0.336,0.75,0.75v1.56c0.868,0.125,1.69,0.465,2.393,0.99l1.102-1.102
c0.315-0.269,0.788-0.233,1.057,0.082c0.241,0.281,0.241,0.695,0,0.976L13.2,5.857c0.525,0.702,0.865,1.525,0.99,2.393h1.56
c0.414,0,0.75,0.336,0.75,0.75S16.164,9.75,15.75,9.75z" />
</svg>
                </span>
                <span class="menu__link-text_2">
                    Settings
                </span>
            </a>
        </li>







        @*<li class="menu__item" style="border-bottom: 1px solid #46505a;
            border-top: 1px solid #46505a; width: 100%;">
            <a class="menu__link" onclick="location.href='@Url.Action("Logout", "Home")'">
            <span class="menu__link-icon">
            <i class="fa fa-power-off" style="color: #434951;"></i>
            <path d="M9,6C7.343,6,6,7.343,6,9c0,1.657,1.343,3,3,3c1.657,0,3-1.343,3-3C12,7.343,10.657,6,9,6z M9,10.5
            c-0.828,0-1.5-0.672-1.5-1.5S8.172,7.5,9,7.5s1.5,0.672,1.5,1.5S9.828,10.5,9,10.5z M15.75,6.75h-1.32l0.93-0.93
            c0.847-0.909,0.797-2.333-0.112-3.18c-0.864-0.805-2.203-0.805-3.068,0l-0.93,0.93V2.25C11.25,1.007,10.243,0,9,0
            C7.757,0,6.75,1.007,6.75,2.25v1.32L5.82,2.625C4.911,1.778,3.487,1.828,2.64,2.737c-0.805,0.864-0.805,2.203,0,3.068l0.93,0.93
            H2.25C1.007,6.735,0,7.742,0,8.985c0,1.243,1.007,2.25,2.25,2.25h1.32L2.625,12.18c-0.847,0.909-0.797,2.333,0.112,3.18
            c0.864,0.805,2.203,0.805,3.068,0l0.93-0.93v1.32c0,1.243,1.007,2.25,2.25,2.25c1.243,0,2.25-1.007,2.25-2.25v-1.32l0.93,0.93
            c0.909,0.847,2.333,0.797,3.18-0.112c0.805-0.864,0.805-2.203,0-3.068l-0.93-0.93h1.32c1.243,0.008,2.257-0.992,2.265-2.235V9
            C18,7.757,16.993,6.75,15.75,6.75z M15.75,9.75h-1.56c-0.125,0.868-0.465,1.69-0.99,2.393l1.102,1.102
            c0.269,0.315,0.233,0.788-0.082,1.057c-0.281,0.241-0.695,0.241-0.976,0L12.142,13.2c-0.702,0.525-1.525,0.865-2.393,0.99v1.56
            c0,0.414-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75v-1.56c-0.868-0.125-1.69-0.465-2.393-0.99l-1.102,1.102
            c-0.315,0.269-0.788,0.233-1.057-0.082c-0.241-0.281-0.241-0.695,0-0.976l1.102-1.102c-0.525-0.702-0.865-1.525-0.99-2.393h-1.56
            c-0.414,0-0.75-0.336-0.75-0.75s0.336-0.75,0.75-0.75h1.56c0.125-0.868,0.465-1.69,0.99-2.393L3.697,4.754
            C3.428,4.439,3.464,3.966,3.779,3.697c0.281-0.241,0.695-0.241,0.976,0l1.102,1.102c0.702-0.525,1.525-0.865,2.393-0.99v-1.56
            c0-0.414,0.336-0.75,0.75-0.75s0.75,0.336,0.75,0.75v1.56c0.868,0.125,1.69,0.465,2.393,0.99l1.102-1.102
            c0.315-0.269,0.788-0.233,1.057,0.082c0.241,0.281,0.241,0.695,0,0.976L13.2,5.857c0.525,0.702,0.865,1.525,0.99,2.393h1.56
            c0.414,0,0.75,0.336,0.75,0.75S16.164,9.75,15.75,9.75z" />
            </svg>
            </span>
            <span class="menu__link-text_2">
            Logout
            </span>
            </a>
            </li>*@

      
    </ul>

 


    <!-- <div class="copyright">
    <a href=""><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
    </div> -->

</aside>
