
@{
    Layout = "~/Views/Shared/_PartialView.cshtml";
    ViewBag.Title = "World CryptoCity | Transactions";

}
@model TransactionVM
    <main class="main-content">

        <div class="buy">
            <div class="buy__header" style="padding-bottom:20px">

                <h2>Wallet Transactions</h2>



            </div>


            <div style="margin-top: 20px; padding-left:40px;padding-right:40px; background-color:white">


                <table id="datatable_history " class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Wallet</th>
                            <th>Amount </th>
                            <th>Remarks</th>
                            <th>Running Balance</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UserWalletTransactions)
                        {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SourceUserWallet.WalletType.Name)
                            </td>


                            @if (item.Amount < 0)
                            {
                                <td style="color:red">
                                    @String.Format("{0:#,##0.00}", item.Amount).ToString()
                                </td>
                            }
                            else
                            {
                                <td style="color:#0bbd0b">
                                    @String.Format("{0:#,##0.00}", item.Amount).ToString()
                                </td>
                            }


                            <td>

                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>

                            <td>
                                @String.Format("{0:#,##0.00}", item.RunningBalance).ToString()
                            </td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </main>
@*<div align="left" style="margin-left: 30px;">
    <div class="panel panel-default" style="width: 90%;" align="left">
        <div class="panel-heading">
            <strong>Wcc Trade History</strong>
        </div>

        <div class="panel-body">
            <div class="wallets__list">

                <a href="#" class="wallet" style="background-color: #de8262;">
                    <span class="wallet__header">
                        <span class="wallet__currency">
                            <span class="wallet__currency-icon">

                            </span>
                            <span class="wallet__currency-info">
                                <span>Total Investment</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span> </span>
                            <span>@Html.DisplayFor(model => model.TotalInvestment) USD Rate</span>
                        </span>
                    </span>

                    <span class="wallet__bg-img">

                    </span>
                </a>

                <a href="#" class="wallet" style="background-color: #de8262;">

                    <span class="wallet__header">
                        <span class="wallet__currency">
                            <span class="wallet__currency-icon">

                            </span>
                            <span class="wallet__currency-info">
                                <span>Yesterday's Profit</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span> </span>
                            <span>@Html.DisplayFor(model => model.YesterdayProfit) WCCP</span>
                        </span>
                    </span>

                    <span class="wallet__bg-img">

                    </span>
                </a>
                <a href="#" class="wallet" style="background-color: #de8262;">

                    <span class="wallet__header">
                        <span class="wallet__currency">
                            <span class="wallet__currency-icon">

                            </span>
                            <span class="wallet__currency-info">
                                <span>WCCP Balance</span>

                            </span>
                        </span>

                        <span class="wallet__course">
                            <span> </span>
                            <span>@Html.DisplayFor(model => model.WCCPBalance) WCCP</span>
                        </span>
                    </span>

                    <span class="wallet__bg-img">

                    </span>
                </a>

            </div>
            <div style="margin-top: 20px;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>USD Rate Amount</th>
                            <th>Total Profit</th>
                            <th>WCCP Details</th>
                            <th>Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Details</th>
                            <th>In </th>
                            <th>Out</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@
