@{

    ViewBag.Title = "WCC  | My Tether";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model WalletVM
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("MyTether", "Wallet")'">Wallet</a></li>
        <li class="breadcrumb-item active">All channels</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"> Tether wallet <small> </small></h1>

    <div class="row">
        <!-- begin col-6 -->
        <div class="col-xl-6" onclick="location.href='@Url.Action("Tether", "Wallet")'">
            <!-- begin card -->
            <div class="card border-0  bg-green text-white mb-3 overflow-hidden">
                <!-- begin card-body -->
                <div class="card-body">
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-7 -->
                        <div class="col-xl-7 col-lg-8">
                            <!-- begin title -->
                            <div class="mb-3 text-white ">
                                <b>
                                    <img src="~/img/tether.png" width="50">
                                </b>
                                @*<span class="ml-2">
                                    <i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Total sales" data-placement="top" data-content="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."></i>
                                </span>*@
                            </div>
                            <!-- end title -->
                            <!-- begin total-sales -->
                            <div class="row text-truncate">
                                <!-- begin col-6 -->
                                <div class="col-6">
                                    <div class="f-s-12 text-white">TETHER WALLET</div>
                                    <div class="f-s-18 m-b-5 f-w-600 p-b-1" data-animation="number" data-value="-">USDT</div>
                                    <div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
                                        <div class="progress-bar progress-bar-striped rounded-right bg-teal" data-animation="width" data-value="55%" style="width: 0%"></div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div class="col-6">
                                    <div class="f-s-12 text-white">Balance:</div>
                                    @*<div class="f-s-18 m-b-5 f-w-600 p-b-1"><span data-animation="number" data-value="0.00"> @Html.DisplayFor(model => model.UserWallets.Find(i => i.WalletCode == "USDT").Balance) USDT</font></span></div>*@
                                <div class="f-s-18 m-b-5 f-w-600 p-b-1"><span data-animation="number" data-value="0.00"> @((decimal)Model.UserWalletAddressTxs.Txrefs.Sum(i => i.Value) / 100000000) USDT </font></span></div>
                                    <div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
                                        <div class="progress-bar progress-bar-striped rounded-right" data-animation="width" data-value="55%" style="width: 0%"></div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                            </div>
                            <!-- end total-sales -->
                            <!-- begin percentage -->
                            @*<div class="mb-3 text-grey">
                                <i class="fa fa-caret-up"></i> <span data-animation="number" data-value="00.00">0.00</span>New Visits
                            </div>*@
                            <!-- end percentage -->
                            <!-- begin row -->
                            <div class="row text-truncate">
                                <!-- begin col-6 -->
                                <div class="col-6">
                                    <div class="f-s-12 text-white">Last day</div>
                                    <div class="f-s-18 m-b-5 f-w-600 p-b-1" data-animation="number" data-value="0">+ 0$</div>
                                    <div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
                                        <div class="progress-bar progress-bar-striped rounded-right bg-teal" data-animation="width" data-value="55%" style="width: 0%"></div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                                <!-- begin col-6 -->
                                <div class="col-6">
                                    <div class="f-s-12 text-white">0 USDT</div>
                                    <div class="f-s-18 m-b-5 f-w-600 p-b-1"><span data-animation="number" data-value="0.00">0 USD</font></span></div>
                                    <div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
                                        <div class="progress-bar progress-bar-striped rounded-right" data-animation="width" data-value="55%" style="width: 0%"></div>
                                    </div>
                                </div>
                                <!-- end col-6 -->
                            </div>
                            <!-- end row -->
                        </div> <div class="col-xl-5 col-lg-4 align-items-d d-flex justify-content-end">
                            @*<img src="~/img/wallet-bg-img-2.png" height="150px" class="d-none d-lg-block" />*@
                        </div>
                        <!-- end col-7 -->
                        <!-- begin col-5 -->
                        <!-- end col-5 -->
                    </div>
                    <span><b>Wallet number:</b> 0x45e1D2D3C1d001aC30E9C0B10e3a9cdD35018Bf0</span>
                    <!-- end row -->
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>



        <div class="col-xl-2">
            <!-- begin card -->
            <div class="card border-0   text-white mb-3 overflow-hidden" style="background-color:#d9e0e7">
                <!-- begin card-body -->
                <div class="card-body">
                    <!-- begin row -->



                    <span>
                        <button id="send" data-toggle="modal" data-target="#sendModal" class="btn btn-primary">SEND  </button>
                    </span>
                    <!-- end row -->
                </div>
                <div class="card-body">
                    <!-- begin row -->
                    <form onsubmit="GetNewAddress('@Url.Action("NewAddress", "Wallet")','POST',this); return false">

                        <button type="submit" id="receive" data-toggle="modal" data-target="#receiveModal" class="btn btn-primary popup-link">RECEIVE </button>
                        <input style="display:none" type="text" Name="WalletCode" value="@Html.DisplayFor(i => i.WalletCode)">
                    </form>
                    <!-- end row -->
                </div>
                <div class="card-body">
                    <!-- begin row -->



                    <button onclick="location.href='@Url.Action("Index", "Transactions")'" class="btn btn-primary">ALL TRANSACTIONS </button>
                    <!-- end row -->
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>

        @*@*<div class="col-xl-4">
                     begin card
                    <div class="card border-0   text-white mb-3 overflow-hidden" style="background-color:#d9e0e7">
                         begin card-body
                        <div class="card-body  " style="    padding: 40px!important">
                             begin row

                            <h3>Ethereum Chart</h3>
                            @section Scripts{
                                <script type="text/javascript">
                                    baseUrl = "https://widgets.cryptocompare.com/";
                                    var scripts = document.getElementsByTagName("script");
                                    var embedder = scripts[scripts.length - 1];
                                    (function () {
                                        var appName = encodeURIComponent(window.location.hostname);
                                        if (appName == "") { appName = "local"; }
                                        var s = document.createElement("script");
                                        s.type = "text/javascript";
                                        s.async = true;
                                        var theUrl = baseUrl + 'serve/v1/coin/chart?fsym=ETH&tsym=USD';
                                        s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                                        embedder.parentNode.appendChild(s);
                                    })();
                                </script>
                                <script type="text/javascript">
                window.addEventListener('click', function(e){
          if (document.getElementById('sent').contains(e.target)){
            // Clicked in box
          } else{
              HideDepositModal();
          }
        });
                  function CopyText() {
                            /* Get the text field */
                            var copyText = document.getElementsByClassName("PaymentAddress")[0];

                            /* Select the text field */
                            copyText.select();
                            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

                            /* Copy the text inside the text field */
                            document.execCommand("copy");

                            /* Alert the copied text */
                            alert("Link Copied to clipboard.");
                        }
                function ShowDepositModal() {
                    document.getElementById("DepositModal").style.display = "block";
                }
                  function HideDepositModal() {
                    document.getElementById("DepositModal").style.display = "none";
                }

             @if (Model.GenLink == 1)
                {
                    @:ShowDepositModal();
                }
                                </script>
                            }


                             end row
                        </div>
                         end card-body
                    </div>
                     end card
                </div>*@

        <partial name="PartialsWallet/Send.cshtml" />
        <partial name="PartialsWallet/Receive.cshtml" />

        <!-- end card -->
    </div>
</div>
<div class="d-none" id="DepositModal" style="
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0023475e;
">

    <form class="popup popup-sent-currency zoom-anim-dialog form animated bounceIn" id="sent-currency" style="margin-top: 15vh;">
        <div class="popup__content" style="padding-bottom:20px">

            <img class="popup-add-wallet__img animated fadeIn" style="margin-top15px" src="https://api.qrserver.com/v1/create-qr-code/?size=192x192&data=@Html.DisplayFor(model => model.PaymentAddress)" alt="">
            <h3 class="form__title" style="margin-top:10px;margin-bottom:10px;">Receive | Ethereum</h3>
            <p style="margin-bottom:25px;">Scan Qr code to deposit payment</p>

            <div class="form__row">
                <div class="input-wrap">
                    <input type="text" asp-for="PaymentAddress" placeholder="Loading Payment Address..">
                </div>
            </div>

            <button class="btn btn--blue btn--full" onclick="CopyText();" style="margin-bottom:20px">Copy Address</button>

            <a href="#" style="text-align:center; text-decoration:underline">Not working?</a>

        </div>
        <div class="popup__thanks">
            <img src="~/img/popup-success.png" alt="">
            <h3>Your wallet added successful!</h3>
        </div>
    </form>


</div>
<script type="text/javascript">
    var p, q;

    function showPreload(e) {
        q = e.innerHTML;
        e.innerHTML = "Loading...";
        e.style.opacity = 0.5;
        p = e;
    }

    function CopyPaymentAddressText() {
        /* Get the text field */
        var copyText = document.getElementById("PaymentAddress");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Address Copied to clipboard.");
    }

    function getFormData(form) {
        var unindexed_array = $(form).serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return JSON.stringify(indexed_array);
    }

    function GetNewAddress(url, type, form) {
        if (document.getElementById('PaymentAddress').value == "") {
            $.ajax({
                url: url,
                type: type,
                data: getFormData(form),
                contentType: 'application/json',
                success: function (data) {
                    if (data.Message != undefined) {
                        alert(data.Message);
                    }
                    document.getElementById('spinner').style.display = "none";
                    document.getElementById('PaymentAddress').value = data.Address;
                    document.getElementById('PaymentAddressImg').src = "https://api.qrserver.com/v1/create-qr-code/?size=192x192&data=" + data.Address;
                },
                error: function (data, textStatus, jqXHR) {
                    console.log(data.responseJSON);
                    alert(data.responseJSON.Message);
                    window.location.replace(data.RedirectUrl);
                },
            });
        }



        return false
    }

</script>
